# Project files
docs/html/*
example/blog/env
example/blog/db.sqlite3
django-ckeditors.iml
example/blog/static/*
example/blog/media/*
example/django_ckeditors
example/blog/django_ckeditors
example/.coverage
example/blog/.coverage
example/blog/tests/.coverage
example/blog/coverage.xml
example/coverage.xml
example/blog/pyproject.toml
django_ckeditors/static/django_ckeditors/dist/*.map
django_ckeditors/static/django_ckeditors/dist
django_ckeditors/node_modules/


# Other files
*.egg-info
*.pyc
*.swp
/bin/
/develop-eggs/
/eggs/
/parts/
*.DS_Store
*.egg
db.sqlite3
.idea
/dist
.vscode/
build/
build.sh
lint.sh
venv
.coverage
coverage.xml
