include LICENSE
include README.rst
recursive-include django_ckeditors/static *
recursive-include django_ckeditors/templates *
include package.json
include package-lock.json
include webpack.config.js
include .gitignore
